<article id="post-1705" class="post-1705 post type-post status-publish format-standard hentry category-dept-placements">
    <header class="entry-header">
      <h4 class="entry-title text-danger">Vision and Mission</h4>	</header><!-- .entry-header -->
    <footer class="entry-footer">
    <div class="entry-content-wrapper">
      <div class="entry-content">
        <p style="text-align: justify; " class="para styleattribute" ><strong>Vision:</strong><br>
  Equipping the students with relevant and conceptualized professional skills and guiding them towards a bright future and career all around the world with the values of – Sincerity, Hard Work and Justice.</p>
       <p style="text-align: justify;" class="para styleattribute"><strong>Mission:</strong><br>
  To achieve 100% placement for our students through dedication, attitude and complete involvement.</p>            </div><!-- .entry-content -->
    </div><!-- .entry-content-wrapper -->
    </footer>

</article>
