<article>
  <div id="primary" class="content-area">
  <main id="main" class="site-main" role="main">



<article id="post-64" class="post-64 post type-post status-publish format-standard hentry category-dept-placements tag-cell tag-placement tag-siet-tumakuru tag-training">
<header class="entry-header">
  <h3 class="entry-title text-danger">Our Regular Recruiters</h3>	</header><!-- .entry-header -->
<footer class="entry-footer">
  <span class="posted-on">

<div class="entry-content-wrapper">
  <div class="entry-content">
    <h3><strong><span style="color: #0000ff;"><span style="font-size: small;">List of Companies where our students got placements through our SIET Campus Drives</span></span></strong></h3>
<table style="height: 1032px; width: 100%;" width="100%">
<tbody>
<tr style="height: 48px;">
<td style="width: 54px; text-align: center; height: 48px;"><strong>SL.<br>
N0.</strong></td>
<td style="width: 331px; text-align: center; height: 48px;"><strong>Name of Company</strong></td>
<td style="width: 48px; height: 48px; text-align: center;"><strong>SL.<br>
N0.</strong></td>
<td style="width: 333px; height: 48px;"><strong>Name of Company</strong></td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">1</td>
<td style="width: 333px; text-align: left; height: 24px;">3DPLM Software solutions</td>
<td style="width: 48px; text-align: center; height: 24px;">40</td>
<td style="width: 276px; text-align: left; height: 24px;">KPIT Cummins</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">2</td>
<td style="width: 333px; height: 24px;">Accenture</td>
<td style="width: 48px; text-align: center; height: 24px;">41</td>
<td style="width: 276px; height: 24px;">L &amp; T IES</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">3</td>
<td style="width: 333px; height: 24px;">Accord Software &amp; Systems</td>
<td style="width: 48px; text-align: center; height: 24px;">42</td>
<td style="width: 276px; height: 24px;">L &amp; T Infotech</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">4</td>
<td style="width: 333px; height: 24px;">Agraj Automation</td>
<td style="width: 48px; text-align: center; height: 24px;">43</td>
<td style="width: 276px; height: 24px;">L&amp;T Technology Services</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">5</td>
<td style="width: 333px; height: 24px;">AMARON</td>
<td style="width: 48px; text-align: center; height: 24px;">44</td>
<td style="width: 276px; height: 24px;">METLOK</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">6</td>
<td style="width: 333px; height: 24px;">American Megatrends</td>
<td style="width: 48px; text-align: center; height: 24px;">45</td>
<td style="width: 276px; height: 24px;">Monsanto</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">7</td>
<td style="width: 333px; height: 24px;">ANZ Ltd</td>
<td style="width: 48px; text-align: center; height: 24px;">46</td>
<td style="width: 276px; height: 24px;">Mphasis</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">8</td>
<td style="width: 333px; height: 24px;">APTEAN</td>
<td style="width: 48px; text-align: center; height: 24px;">47</td>
<td style="width: 276px; height: 24px;">NJ India Invest</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">9</td>
<td style="width: 333px; height: 24px;">Aris Global</td>
<td style="width: 48px; text-align: center; height: 24px;">48</td>
<td style="width: 276px; height: 24px;">PEOL Technologies</td>
</tr>
<tr style="height: 48px;">
<td style="width: 54px; text-align: center; height: 48px;">10</td>
<td style="width: 333px; height: 48px;">AXIS BANK (MBA)</td>
<td style="width: 48px; text-align: center; height: 48px;">49</td>
<td style="width: 276px; height: 48px;">Power Research &amp; Development Consultants (I) Ltd.</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">11</td>
<td style="width: 333px; height: 24px;">Azurieken Technologies</td>
<td style="width: 48px; text-align: center; height: 24px;">50</td>
<td style="width: 276px; height: 24px;">PRATIAN Technologies</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">12</td>
<td style="width: 333px; height: 24px;">Blue Star</td>
<td style="width: 48px; text-align: center; height: 24px;">51</td>
<td style="width: 276px; height: 24px;">Ramky Enviro Systems</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">13</td>
<td style="width: 333px; height: 24px;">Camson Biotechnologies</td>
<td style="width: 48px; text-align: center; height: 24px;">52</td>
<td style="width: 276px; height: 24px;">Razor Think</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">14</td>
<td style="width: 333px; height: 24px;">Ceratizit</td>
<td style="width: 48px; text-align: center; height: 24px;">53</td>
<td style="width: 276px; height: 24px;">RENAULT NISSAN</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">15</td>
<td style="width: 333px; height: 24px;">CMC Limited</td>
<td style="width: 48px; text-align: center; height: 24px;">54</td>
<td style="width: 276px; height: 24px;">RetailOn</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">16</td>
<td style="width: 333px; height: 24px;">COCO COLA</td>
<td style="width: 48px; text-align: center; height: 24px;">55</td>
<td style="width: 276px; height: 24px;">Robosoft</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">17</td>
<td style="width: 333px; height: 24px;">CoCube.Com</td>
<td style="width: 48px; text-align: center; height: 24px;">56</td>
<td style="width: 276px; height: 24px;">Saint Gobain</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">18</td>
<td style="width: 333px; height: 24px;">Continental Corporation</td>
<td style="width: 48px; text-align: center; height: 24px;">57</td>
<td style="width: 276px; height: 24px;">SAP LABS</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">19</td>
<td style="width: 333px; height: 24px;">Cummins</td>
<td style="width: 48px; text-align: center; height: 24px;">58</td>
<td style="width: 276px; height: 24px;">SASKEN COMMUNICATIONS</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">20</td>
<td style="width: 333px; height: 24px;">EMTEX GROUP</td>
<td style="width: 48px; text-align: center; height: 24px;">59</td>
<td style="width: 276px; height: 24px;">SLK Software &amp; Services Limited</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">21</td>
<td style="width: 333px; height: 24px;">Esko graphics</td>
<td style="width: 48px; text-align: center; height: 24px;">60</td>
<td style="width: 276px; height: 24px;">SML ISUZU</td>
</tr>
<tr style="height: 48px;">
<td style="width: 54px; text-align: center; height: 48px;">22</td>
<td style="width: 333px; height: 48px;">EXILANT</td>
<td style="width: 48px; text-align: center; height: 48px;">61</td>
<td style="width: 276px; height: 48px;">SMR Automotive systems India Limited</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">23</td>
<td style="width: 333px; height: 24px;">First American</td>
<td style="width: 48px; text-align: center; height: 24px;">62</td>
<td style="width: 276px; height: 24px;">Sonus Network</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">24</td>
<td style="width: 333px; height: 24px;">Geometric</td>
<td style="width: 48px; text-align: center; height: 24px;">63</td>
<td style="width: 276px; height: 24px;">SYNTEL</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">25</td>
<td style="width: 333px; height: 24px;">GETIT Info Services Pvt. Limited</td>
<td style="width: 48px; text-align: center; height: 24px;">64</td>
<td style="width: 276px; height: 24px;">Syntel</td>
</tr>
<tr style="height: 48px;">
<td style="width: 54px; text-align: center; height: 48px;">26</td>
<td style="width: 333px; height: 48px;">Global Automation</td>
<td style="width: 48px; text-align: center; height: 48px;">65</td>
<td style="width: 276px; height: 48px;">System Consultants Information (I) Pvt. Ltd.</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">27</td>
<td style="width: 333px; height: 24px;">Global Edge</td>
<td style="width: 48px; text-align: center; height: 24px;">66</td>
<td style="width: 276px; height: 24px;">Tayana software</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">28</td>
<td style="width: 333px; height: 24px;">Hasten Technologies</td>
<td style="width: 48px; text-align: center; height: 24px;">67</td>
<td style="width: 276px; height: 24px;">TCS</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">29</td>
<td style="width: 333px; height: 24px;">HCL Technologies</td>
<td style="width: 48px; text-align: center; height: 24px;">68</td>
<td style="width: 276px; height: 24px;">TOYOTA KIRLOSKAR</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">30</td>
<td style="width: 333px; height: 24px;">Head Run technologies</td>
<td style="width: 48px; text-align: center; height: 24px;">69</td>
<td style="width: 276px; height: 24px;">Trigent Software</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">31</td>
<td style="width: 333px; height: 24px;">Health Asyst</td>
<td style="width: 48px; text-align: center; height: 24px;">70</td>
<td style="width: 276px; height: 24px;">Unikaihatsu Software Pvt. Ltd.</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">32</td>
<td style="width: 333px; height: 24px;">Hinduja Global Solutions</td>
<td style="width: 48px; text-align: center; height: 24px;">71</td>
<td style="width: 276px; height: 24px;">UNISYS</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">33</td>
<td style="width: 333px; height: 24px;">HP</td>
<td style="width: 48px; text-align: center; height: 24px;">72</td>
<td style="width: 276px; height: 24px;">VAG Valves (I) Limited</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">34</td>
<td style="width: 333px; height: 24px;">Huwai Technologies</td>
<td style="width: 48px; text-align: center; height: 24px;">73</td>
<td style="width: 276px; height: 24px;">VEE TECHNOLOGIES</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">35</td>
<td style="width: 333px; height: 24px;">IBM (I) Pvt. Ltd.</td>
<td style="width: 48px; text-align: center; height: 24px;">74</td>
<td style="width: 276px; height: 24px;">ViCoast</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">37</td>
<td style="width: 333px; height: 24px;">Infosys Limited</td>
<td style="width: 48px; text-align: center; height: 24px;">75</td>
<td style="width: 276px; height: 24px;">VIT Infotech</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">38</td>
<td style="width: 333px; height: 24px;">Integrated Electricals</td>
<td style="width: 48px; text-align: center; height: 24px;">76</td>
<td style="width: 276px; height: 24px;">XL HEALTH CORPORATION</td>
</tr>
<tr style="height: 24px;">
<td style="width: 54px; text-align: center; height: 24px;">39</td>
<td style="width: 333px; text-align: left; height: 24px;">INTERRA SYSTEMS</td>
<td style="width: 48px; height: 24px;" colspan="2"><strong><em>…. and many more</em></strong></td>
</tr>
</tbody>
</table>
        </div><!-- .entry-content -->
</div><!-- .entry-content-wrapper -->

<!-- #post-## -->
</span>
</footer></article>
