
<nav class="navbar navbar-expand-lg ">
  <div class="logo-image">
    <img src="../assets/images/img6.jpg" class="img-fluid">
</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink='login'>login</a>
      <a class="nav-item nav-link active" routerLink='post'>Post Job</a>

      <a class="nav-item nav-link active" routerLink='wantjob' >want Job</a>

    </div>

  </div>
</nav>

<router-outlet></router-outlet>

